{% extends 'base.html.twig' %}
{% block title %}Dashboard Ruby{% endblock %}
{% block body %}
<div class="container mt-5">
  <h1>Dashboard Ruby</h1>
  <p>Bienvenido a tu membresía Ruby.</p>
</div>
{% endblock %}