{% extends 'base.html.twig' %}
{% block title %}Dashboard Gold{% endblock %}
{% block body %}
<div class="container mt-5">
  <h1>Dashboard Gold</h1>
  <p>Bienvenido a tu membresía Gold.</p>
</div>
{% endblock %}