
{% extends 'base.html.twig' %}
{% block title %}Invitación aceptada{% endblock %}
{% block body %}
<div class="container mt-4">
  <h1>¡Invitación aceptada!</h1>
  <p>Gracias. Hemos registrado tu email <strong>{{ email }}</strong>. Continúa con el registro o inicio de sesión.</p>
</div>
{% endblock %}
