
{% extends 'base.html.twig' %}
{% block title %}Invitación no válida{% endblock %}
{% block body %}
<div class="container mt-4">
  <h1>Invitación no válida o expirada</h1>
  <p>El enlace que has abierto no es válido o ya expiró.</p>
</div>
{% endblock %}
