{% extends 'base.html.twig' %}
{% block title %}Dashboard Platinum{% endblock %}
{% block body %}
<div class="container mt-5">
  <h1>Dashboard Platinum</h1>
  <p>Bienvenido a tu membresía Platinum.</p>
</div>
{% endblock %}